<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!DOCTYPE html>
    <html lang="en" dir="ltr">

    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="static/userDashboard.css">
        <link rel="stylesheet" href="static/bodypart.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">


    </head>

    <body>
        <!-- this is navbar -->
        <div class="navbar">
            <nav>
                <ul>
                    <li class="logo"> <i class="fa fa-university" aria-hidden="true"></i> Bank Admin </li>
                    <!-- Nantar logo taku saddya rau de class logo-->
                    <li class="items"><a href="/adminDashboard"><i class="fa fa-home fa-xs" aria-hidden="true"></i> Home</a></li>
                    <li class="items"> <a href="/logout"><i class="fa fa-power-off fa-xs"></i> Logout</a> </li>
                </ul>
            </nav>
        </div>
        <input type="checkbox" id="check">
        <label for="check">
    <i class="fas fa-bars " id="btn"></i>
    <i class="fas fa-times" id="cancel"></i>
    </label>
        <div class="sidebar">
            <header>Welcome Admin</header>
            <a href="/adminDashboard" class="active"><i class="fas fa-credit-card"></i><span>Admin Dashboard</span></a>
            <a href="/applicationsearch"><i class="far fa-envelope"></i><span>Search</span></a>
            <a href="/logout"><i class="fa fa-power-off"></i><span>Logout</span></a>

            <div class="bottom">
                <ul class="fa-ul">
                    <li> <i class="fa-li fa fa-spinner fa-spin"></i>Designed & Developed by G-10</li>
                    <!--spinning object-->
                </ul>
            </div>
        </div>
        <div class="container main">
            <div>
                <form action="/applicationsearch" method="POST">
                    <div class=" input-group ">
                        <h3>Search for Application by Email</h3>
                        <input class="input-lg border-0 rounded-pill" type="text" placeholder="Email" name="email">
                        <button type="submit" class="btn rounded-pill btn-info">Search</button>
                    </div>
                </form>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Income</th>
                        <th>Loan Amount</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for loanapp in Loan %}
                        <tr>
                            <td name="FullName">{{ loanapp.Fullname }}</td>
                            <td name="email">{{ loanapp.Email }}</td>
                            <td>{{ loanapp.Income }}</td>
                            <td>{{ loanapp.LoanAmount }}</td>
                            <td>{{ loanapp.Status }}</td>

                            <td>
                                <form action="/applicationconfirm" method="POST">
                                    <button class="btn rounded-pill btn-block btn-success">Confirm</button>
                                </form>
                                <form action="/applicationreject" method="POST">
                                    <button class="btn  rounded-pill btn-block btn-danger"> Reject </button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </body>

    </html>