<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/userDashboard.css">
</head>

<body>
    <header class="site-header">
        <div class="wrapper site-header__wrapper">
            <a href="#" class="T">Bank</a>
            <h3>Welcome
            </h3>
            <nav class="nav">

                <ul class="nav__wrapper">
                    <li class="nav__item"><a href="#">Home</a></li>
                    <li class="nav__item"><a href="/loanapply">Apply For Loan</a></li>
                    <li class="nav__item"><a href="#">Check status</a></li>
                    <li class="nav__item"><a href="#">Contact Bank</a></li>
                    <a href="/logout"><button class="btn"> Logout</button></a>
                </ul>
            </nav>
        </div>
    </header>


</body>

</html>